<nav class="navbar bg-primary navbar-expand-lg" data-mdb-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
    <img src="/img/logo.png" alt="Logo Restaurante Dove" class="logo-navbar">
    </a>
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <!-- APENAS ADMIN -->
        @if (loginService.hasRole('ADMIN')) {
          <li class="nav-item">
            <a class="nav-link" href="/admin/funcionarios">Funcionários</a>
          </li>
          <!-- /clientes -->
        }

        <!-- APENAS FUNCIONARIOS E ADMIN -->
        @if (loginService.hasRole('ADMIN') || loginService.hasRole('FUNCIONARIO')) {
          <li class="nav-item">
            <a class="nav-link" href="/funcionario/cardapios">Cardápios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/funcionario/pedidos">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/funcionario/ingredientes">Ingredientes</a>
          </li>
        }

        <!-- APENAS CLIENTES -->
        @if (loginService.hasRole('CLIENTE')) {
           <li class="nav-item">
            <a class="nav-link" href="/cliente/pedidos">Pedidos</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/cliente/perfil">Perfil</a>
          </li>
        } 
      </ul>
      <button class="btn btn-outline-danger ms-auto" (click)="logout()">
        Sair
      </button>
    </div>
  </div>
</nav>
