<nav class="navbar bg-primary navbar-expand-lg" data-mdb-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Dove Restaurante</a>
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Apenas funcionário -->
        @if (authService.isFuncionario()) {
        <li class="nav-item">
          <a class="nav-link" href="/admin/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/funcionarios">Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/cardapios">Cardápios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/pedidos">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/ingredientes">Ingredientes</a>
        </li>
        }

        <!-- Apenas cliente -->
        @if (authService.isCliente()) {
        <li class="nav-item">
          <a class="nav-link" href="/cliente/pedidos">Meus Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cliente/perfil">Meu Perfil</a>
        </li>
        }
      </ul>
      <button class="btn btn-outline-danger" (click)="logout()">Sair</button>
    </div>
  </div>
</nav>
