<div class="container pedido-list">
  <h1>Listagem de Pedidos</h1>
  <br />
  <button
    class="btn btn-primary"
    [routerLink]="['/admin/pedidos', 'new']"
    [disabled]="!cardapioDoDia"
  >
    Novo Pedido
  </button>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Marmita</th>
        <th>Status</th>
        <th>Hora Início</th>
        <th>Hora Fim</th>
        <th>Cliente</th>
        <th>Cardápio</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (pedido of pedidos; track pedido.id) {
      <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.marmita }}</td>

        <!-- Status com ícone -->
        <td>{{ pedido.status }} {{ getStatusIcon(pedido) }}</td>
        <td>{{ pedido.hora_inicio }}</td>
        <td>{{ pedido.hora_fim }}</td>
        <td>{{ pedido.usuario?.nome }}</td>
        <td>{{ pedido.cardapio.data }}</td>

        <td>
          <!-- Botão Pronto -->
          <button
            type="button"
            class="btn btn-success me-2"
            [disabled]="pedido.status === 'FINALIZADO'"
            (click)="markAsPronto(pedido)"
          >
            Pronto
          </button>

          <!-- Botão Editar -->
          <button
            class="btn btn-info me-2"
            [routerLink]="['/admin/pedidos/edit', pedido.id]"
            [disabled]="!podeEditar(pedido)"
          >
            Editar
          </button>

          <!-- Botão Excluir -->
          <button
            class="btn btn-danger"
            (click)="deletar(pedido)"
            [disabled]="!podeEditar(pedido)"
          >
            Excluir
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
